.result {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 -16px;
  padding: 24px 16px 72px;
  background-color: var(--mocha);
}

.result::after {
  background-color: inherit;
  color: inherit;
  content: "";
  height: 24px;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
}

@media (min-width: 700px) {
  .result {
    position: relative;
    margin: 0;
    margin-right: auto;
    padding: 0;
    background: none;
  }
}
