.button {
  background-color: var(--orange);
  border-radius: var(--radius);
  border: none;
  color: var(--black);
  cursor: pointer;
  padding: 1rem 2rem;
  z-index: 1;
}

.button--block {
  min-width: 150px;
  width: 100%;
}

@media (min-width: 700px) {
  .button {
    width: auto;
  }
}
